<h1>Create dose for <%= @cocktail.name %></h1>


<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredients %>
  <%= f.button :submit %>
<% end %>
